@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:ital,wght@0,400;1,400&display=swap');

.font-reg {
	font-family: 'Open Sans', sans-serif;
	margin-left: 10px;
}
.body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
a:visited, a {
    color: Maroon;
    text-decoration: none;
}
a:hover {
    color: green;
}
.hov:hover {
    color: green;
}
.nav {
    background-color: white;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: green;
    background-color: rgba(0, 255, 0, 0.25);
}
.header {
    text-align: center;
}
.footer {
	display: flex;
	justify-content: space-around;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: green;
}
.sub {
    border-top-style: solid;
    border-left-style: solid;
    border-width: 4px;
    border-color: green;
    background-color: rgba(0, 255, 0, 0.25);
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 8px;
}
.image {
    padding: 4px;
    background-color: rgba(0, 255, 0, 0.25);
}
.img {
	display: flexbox;
	justify-content: flex-end;
}